
  <%- include('./includes/head'); %>
  <%- include('./includes/nav'); %>

  <div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class=" text-center">Usuarios</h1>
            <p class="text-center lead">Todos usuarios estão abaixo</p>
          
            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Um erro qualquer</div>
                </div>
            </div>


            <div class="reponsive-table">
                <table class="table my-3">
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                          <td><%= usuario.nome %></td>
                          <td><%= usuario.email %></td>
                          <td><%= usuario.idade %></td>
                          <td><a href="/cadastro/<%= usuario._id %>">Editar</a></td>
                          <td><a class="text-danger" href="/cadastro/delete/<%= usuario._id %>">Excluir</a></td>
                        </tr>
                        <% }); %>

                </table>
            </div>


        </div>
    <div class="col-lg-2"></div>
    </div>
</div>


  <%- include('./includes/footer'); %>


